body {
  background-color: #1e1d1d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

.hidden {
  display: none; }

/*.fullscreen {
  width: 480px;
  height: 720px; }*/

.main {
    width: 100%; }

.topbar {
    padding: 20px;
    background: #1e1d1d ;
    min-height: 30px; }

.topbar {
    text-align: center; }

.topbar-img {
    max-height: 21px; }

.topbar > ul > li:first-child {
    float: left; }

.topbar > ul > li:last-child {
    float: right; }

ul.unstyled {
    margin: 0;
    padding: 0; }

ul.list-inline > li {
    display: inline; }

ul.unstyled > li {
    list-style: none; }

.main-content {
    background: #1e1d1d; }

.footer {
    padding: 1%;
    background: #1e1d1d;
    max-height: 150px;
    height: 150px; }

.footer li {
    width: 100%; }

.footer li a {
    color: white;
    text-decoration: none;
    display: block;
    height: 50px;
    font-size: 30px; }

.footer li a span {
    float: right;}

#map-canvas-basic {
    height: 550px; }

.angular-google-map-container {
  width: 100%; }

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
  max-width: inherit; }

.angular-google-map {
  top: 80px; }

.shrink {
  font-size: 8; }

.true:hover {
  background-color: lightgreen; }

.false:hover {
  background-color: lightpink; }

.marker-labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 40px;
  border: 2px solid black;
  white-space: nowrap; }
