<section class="page main" ng-controller="MapController">
    <header class="topbar">
        <ul class="unstyled list-inline">
            <li><img class="topbar-img" ng-click="activeHeatmap()" src="img/i.png" alt=""></li>
            <li><img class="topbar-img" src="img/u.png" alt=""></li>
            <li><img class="topbar-img" src="img/m.png" alt=""></li>
        </ul>
    </header>

    <article >
        <!-- <a href="/#/poi/asd"><img class="fullscreen" src="../img/main.jpg" alt=""></a> -->
        <div id="map-canvas-basic"> </div>
    </article>
</section>
